venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.joblib
.DS_Store
mlruns/
.cache/
.mlflow/
weather_MLOPs_repo/

logs/
dags/__pycache__/
plugins/__pycache__/
.env

*.pid
docker-compose.override.yml
.DS_Store
Thumbs.db